.header{
    margin-top:40px;
}
.headeritems{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#372d10;
    font-family: 'Lora', serif;
}
.itemlg{
    position: absolute;
    top: 10%;
    font-size: 20px;
}
.itemsm{
    position: absolute;
    top:11%;
    font-size: 100px;
}
.headerimg{
    width:100%;
    height:350px;
    margin-top:80px;
    object-fit: cover;
}